#large datasets
data/raw/
data/interim/
data/processed/
*.sql
*.sql.zip
*.csv
*.db
*.sqlite
*.sqlite3

# classics
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg

#virtual envs
venv/
env/
ENV/
.venv
.env


.ipynb_checkpoints/


.vscode/
.idea/
*.swp


.DS_Store
Thumbs.db
desktop.ini


.env
.env.local
secrets.json
*.key
*.pem


*.log
logs/